<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rs.pstech.hotelmanager">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".HotelManagerApp"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.Base">

        <activity
            android:name="rs.pstech.hotelmanager.RoomsActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="rs.pstech.hotelmanager.MainActivity"
            android:label="@string/app_name"
            android:parentActivityName=".RoomsActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RoomsActivity" />
            >
        </activity>

        <activity
            android:name="rs.pstech.hotelmanager.PreferencesActivity"
            android:label="@string/settings"></activity>
    </application>

</manifest>
